.img-circle {
    border-radius: 50%;
}

#content {
	background-color:  white ;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

#logo {
	font-size: 27px;
	text-align: center;
}


body {
    background-color: white;
}

#footer {
  border-top: 1px solid #D0D0D0;
  font-family: Arial, Helvetica, sans-serif;
}

#footer p {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 10px;
  font-size: 12px;
  text-align: center;
  color: #676767;
}

#footer a {
  color: #676767;
}

table, th, td {
    padding: 6px;
}

th {
    background-color: #F5F5F5;
    text-align: center;
    font-weight: normal;
}
