<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">

<link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/customer.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</head>

<body style="padding-top: 90px">

	<div class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{site.baseurl}}{{ site.home.url }}">{{ site.home.title }}</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					{% for link in site.navigation %}
					{% assign current = nil %}
					{% if page.url == link.url%}
					{% assign current = 'active' %}
					{% endif %}
					<li class="nav-item {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
					<a class="nav-link" href="{{site.baseurl}}{{ link.url }}">{{ link.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>


<div class="container">
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">

	{{ content }}


	</div>
</div>

	{% include footer.html %}
</body>
</html>
