<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ site.course }} - {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="padding-top: 90px">

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#nav-top">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.url }}/{{ site.baseurl }}">{{ site.title }}</a>
				</div>
				<div class="navbar-collapse navbar-inverse-collapse collapse" aria-expanded="false" id="nav-top">
					<ul class="nav navbar-nav navbar-right">
						{% for link in site.navigation %}
							{% assign current = nil %}
							{% if page.url == link.url %}
								{% assign current = 'active' %}
							{% endif %}
							<li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
								<a href="{{site.baseurl}}{{ link.url }}">{{ link.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">

		{{ content }}

		</div>
	</div>
	<div class="row">
		<hr width="100%"/>
	</div>
</div>
</body>
</html>
