---
layout: default
---

{% for lecture in page.lectures %}
	<h2>Module {{lecture.id}}: {{lecture.title}}</h2>
	<p>
		<strong>Description:</strong> {{lecture.description | markdownify}}
	</p>
	<p>
		<strong>Objectives:</strong> {{lecture.objectives | markdownify}}
	</p>
	{% for lesson in lecture.lessons %}
		<h4>{{lesson.title}}</h4>
		<ul>
		{% for segment in lesson.segments %}
			<li style="margin: 10px 0;">
			<strong><a href="{{segment.url}}">{{segment.title}}</a></strong>
			</li>
		{% endfor %}
		</ul>
	{% endfor %}
{% endfor %}

